* {
  box-sizing: border-box;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.nav-bar button {
  margin-left: 80px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.input {
  width: 500px;
  height: 30px;
}

form .btn {
  margin-top: 10px;
}

.gifs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gif img {
  margin: 15px;
  border-radius: 15px;
  border: 3px solid black;
}

@media (max-width: 700px) {
  .input {
    width: 300px;
  }
  .gifs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
