* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #03dac5;
  font-family: 'Ubuntu', sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav-bar {
  display: flex;
  align-items: flex-end;
}

.nav-bar button {
  margin-left: 80px;
}

.header h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: black 2px solid;
  border-radius: 15px;
  padding: 15px;
  background-color: #e0e0e0;
}

.input {
  width: 500px;
  line-height: 2;
}

.gifs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.random-container,
.trending-container {
  margin-top: 100px;
  text-align: center;
}

.random-gif img {
  align-items: center;
  border: 1px solid black;
  width: 90%;
  height: 80vh;
}

.random-container button {
  margin-top: 50px;
}

.emoji {
  padding-left: 4px;
}

.gif img {
  margin: 15px;
  border-radius: 15px;
  border: 3px solid black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 100vw !important;
  background-color: #3f51b5;
  margin-top: 100px;
}

.footer a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 10px 0;
  font-size: 1rem;
}

.footer img {
  padding-bottom: 10px;
}

@media (max-width: 980px) {
  .input {
    width: 400px;
  }
}

@media (max-width: 768px) {
  form {
    padding: 5px 10px;
  }

  .input {
    width: 300px;
  }

  .nav-bar {
    justify-content: space-between;
    align-items: center;
  }

  .header h1 {
    text-align: center;
    font-size: 1.6rem;
  }

  .gifs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .gifs-container img {
    border: none;
  }

  .random-container {
    margin-top: 70px;
  }

  .random-gif img {
    width: 95vw;
    height: auto;
  }

  .random-container button {
    margin-top: 20px;
  }

  #random-footer {
    position: absolute;
    bottom: 0;
  }
}
